qs-dokument.pdf
code-review-checklist.pdf
folien_von_jonas.pdf
*.aux
*.log
*.toc
*.out
*.len
*.nav
*.snm
.htconfig.php
*.MPG
.DS_Store
*~
bower_components/
log.txt

**/.idea/workspace.xml
**/.idea/tasks.xml
*.iml

*.apk
